.weatherItem {
  display: inline-block;
  width: 302px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  margin: 10px;
  border-radius: var(--br);
  justify-content: center;
}
.weatherCard {
  border-radius: var(--br);
}
.temperature {
  text-decoration: none;
  color: var(--bcc);
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.countryName {
  font-weight: bold;
}
.shortDescription {
  color: rgba(30, 33, 39, 0.61);
  font-weight: 500;
}
.title {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  text-shadow: 0 0 3px rgb(32, 35, 63, 0.3);
}
